<aside class="menu app-sidebar">
    <p class="menu-label">
        导航条
    </p>
    <ul class="menu-list">
        <li>
            <a href="http://dev.yy.com/my_curtain/index.html" class="" aria-expanded="true">
                <span class="icon is-small">
                <i class="fa fa-group"></i>
            </span> 首页
            </a>
        </li>
        <li>
            <a href="http://dev.yy.com/my_curtain/styleshow.html" class="" aria-expanded="true">
                <span class="icon is-small">
                    <i class="fa fa-group"></i>
                    </span> 款式展示
            </a>
        </li>
        <li>
            <a href="http://dev.yy.com/my_curtain/group.html" class="" aria-expanded="false">
                <span class="icon is-small">
                <i class="fa fa-gears"></i>
                </span> 组合管理
            </a>
        </li>
        <li>
            <a href="http://dev.yy.com/my_curtain/material.html" class="is-active" aria-expanded="true">
                <span class="icon is-small">
                <i class="fa fa-gear"></i>
                </span> 物料管理
            </a>
        </li>
        <li>
            <a href="http://dev.yy.com/my_curtain/filepost.html" class="" aria-expanded="false">
                <span class="icon is-small">
                <i class="fa fa-file-excel-o"></i>
                </span> 文件上传
            </a>
        </li>
        <li>
            <a href="http://dev.yy.com/my_curtain/store.html" class="" aria-expanded="false">
                <span class="icon is-small">
                <i class="fa fa-user"></i>
                </span> 门店管理
            </a>
        </li>
    </ul>
</aside>
