<div class="modal-mask" id="change-group-modal">
    <div class="modal-close"></div>
    <div class="new-modal">
        <div class="modal-content">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">修改组合</p><button class="delete" id="delete"></button>
                </header>
                <form id="change-group-form" onsubmit="return false;">
                    <section class="modal-card-body">
                        <div class="box">
                            <label>名字:<input type="text" class="form-control auto-group" name="name" placeholder="请输入组合的名字"></label>
                            <label>主布:<input type="text" class="form-control" name="zhubu" placeholder="请输入物料名称"></label>
                            <label>接高:<input type="text" class="form-control" name="jiegao" placeholder="请输入物料名称"></label>
                            <label>衬布:<input type="text" class="form-control" name="chenbu" placeholder="请输入物料名称"></label>
                            <label>配布1:<input type="text" class="form-control" name="peibu1" placeholder="请输入物料名称"></label>
                            <label>配布2:<input type="text" class="form-control" name="peibu2" placeholder="请输入物料名称"></label>
                            <label>配布3:<input type="text" class="form-control" name="peibu3" placeholder="请输入物料名称"></label>
                            <label>配布4:<input type="text" class="form-control" name="peibu4" placeholder="请输入物料名称"></label>
                            <label>主布花边:<input type="text" class="form-control" name="zhubuhuabian" placeholder="请输入物料名称"></label>
                            <label>配布花边:<input type="text" class="form-control" name="peibuhuabian" placeholder="请输入物料名称"></label>
                            <label>窗纱:<input type="text" class="form-control" name="chuangsha" placeholder="请输入物料名称"></label>
                            <label>拉边袋:<input type="text" class="form-control" name="labiandai" placeholder="请输入物料名称"></label>
                            <label>风格:<input type="text" class="form-control" name="style" placeholder="请输入物料名称"></label>
                            <label>花边1:<input type="text" class="form-control" name="huabian1" placeholder="请输入物料名称"></label>
                            <label>花边2:<input type="text" class="form-control" name="huabian2" placeholder="请输入物料名称"></label>
                            <label>花边3:<input type="text" class="form-control" name="huabian3" placeholder="请输入物料名称"></label>
                            <label>织带:<input type="text" class="form-control" name="zhidai" placeholder="请输入物料名称"></label>
                            <label>小边带:<input type="text" class="form-control" name="xiaobiandai" placeholder="请输入物料名称"></label>
                            <label>吊球:<input type="text" class="form-control" name="diaoqiu" placeholder="请输入物料名称"></label>
                            <label>吊穗:<input type="text" class="form-control" name="diaosui" placeholder="请输入物料名称"></label>
                            <label>钻扣:<input type="text" class="form-control" name="zhuankou" placeholder="请输入物料名称"></label>
                            <label>钻条:<input type="text" class="form-control" name="zhuantiao" placeholder="请输入物料名称"></label>
                            <label>沙发绳:<input type="text" class="form-control" name="shafasheng" placeholder="请输入物料名称"></label>
                            <label>纽扣:<input type="text" class="form-control" name="niukou" placeholder="请输入物料名称"></label>
                            <label>布钮:<input type="text" class="form-control" name="buniu" placeholder="请输入物料名称"></label>
                            <label>帘头:<input type="text" class="form-control" name="liantou" placeholder="请输入物料名称"></label>
                            <label>窗身:<input type="text" class="form-control" name="chuangshen" placeholder="请输入物料名称"></label>
                            <label>备注:<input type="text" class="form-control" name="remark" placeholder="请输入物料名称"></label>
                        </div>
                    </section>
                    <footer class="modal-card-foot">
                        <input class="btn btn-success" id="modal-card-submit-change" type="submit" value="确认更改">
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>
