<div class="header">
    <div class="row">
        <div class="col-xs-6 col-md-4 header__left header__common"></div>
        <div class="col-xs-6 col-md-4 header__middle header__common">
            <a href="/" class="nav-item">
                <div class="nav-item-img"></div>
                <strong class="admin">伊莎莱窗帘</strong>
            </a>
        </div>
        <div class="col-xs-6 col-md-4 header__right header__common">
            <button type="button" class="btn btn-success header__btn">登录</button>
        </div>
    </div>
</div>
