<div class="modal-mask" id="modal-material">
    <div class="modal-close"></div>
    <div class="new-modal">
        <div class="modal-content">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">编辑物料(只能修改图片)</p><button class="delete" id="delete"></button>
                </header>
                <section class="modal-card-body">
                    <div class="box flex-wrapper">
                        <table class="table is-striped">
                            <thead>
                                <tr>
                                    <th>图片</th>
                                    <th>风格</th>
                                    <th>物料名称</th>
                                    <th>类型</th>
                                    <th>成本</th>
                                    <th>单位</th>
                                    <th>fPart</th>
                                    <th>零售价</th>
                                    <th>规格</th>
                                    <th>是否裁剪</th>
                                    <th>fMaterial</th>
                                    <th>备注</th>
                                </tr>
                            </thead>
                            <tbody id="materialModal">
                            </tbody>
                        </table>
                    </div>
                </section>
                <footer class="modal-card-foot"><button class="btn btn-success" id="modal-card-submit">确定更改</button></footer>
            </div>
        </div>
    </div>
</div>
