.app-sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    padding: 20px 0 50px;
    width: 180px;
    min-width: 45px;
    max-height: 100vh;
    height: calc(100% - 50px);
    z-index: 1023;
    background: #fff;
    box-shadow: 0 2px 3px hsla(0, 0%, 7%, .1), 0 0 0 1px hsla(0, 0%, 7%, .1);
    overflow-y: auto;
    overflow-x: hidden;
}

.menu-label {
    color: #7a7a7a;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.menu-list a {
    border-radius: 2px;
    color: #4a4a4a;
}

.menu-list a,
.menu-nav a {
    display: block;
    padding: 5px 10px;
}

.app-sidebar .icon {
    vertical-align: baseline;
}

.icon.is-medium,
.icon.is-small {
    display: inline-block;
    text-align: center;
}

.icon.is-small {
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    width: 16px;
}

.icon .fa {
    font-size: inherit;
    line-height: inherit;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa, .icon {
    font-size: 21px;
    text-align: center;
    vertical-align: top;
}
