.modal-mask {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
    background: hsla(0, 0%, 4%, .86);
}

.new-modal {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

.modal-close {
    background-color: hsla(0, 0%, 4%, .1);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    outline: none;
    position: relative;
    vertical-align: top;
    width: 24px;
    background: none;
    height: 40px;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 40px;
    user-select: none;
    -webkit-appearance: none;
}

.modal-close:after,
.modal-close:before {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -25%;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 50%;
}

.modal-close:before {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-close:after {
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-card,
.modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
    width: 100%;
}

.modal-card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: calc(100vh - 40px);
    overflow: hidden;
}

.modal-card-head {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-card-foot,
.modal-card-head {
    -ms-flex-align: center;
    align-items: center;
    background-color: #f5f5f5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
}

.modal-card-title {
    color: #363636;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 24px;
    line-height: 1;
}

.delete {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: hsla(0, 0%, 4%, .1);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    outline: none;
    position: relative;
    vertical-align: top;
    width: 24px;
}

.delete:before {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.delete:after,
.delete:before {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -25%;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 50%;
}

.delete:after {
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-card-body {
    background-color: #fff;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px;
}

.box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px hsla(0, 0%, 4%, .1), 0 0 0 1px hsla(0, 0%, 4%, .1);
    display: block;
    padding: 20px;
}

.table {
    background-color: #fff;
    color: #363636;
    margin-bottom: 20px;
    width: 100%;
}
