---
layout: default.hbs
title: 文件上传
keywords: 文件上传
description: 文件上传
stylesheet: filepost
script: filepost
---
<div class="page">
    {{>header}}
    <div class="filepost">
        {{>aside}}
        {{>filepost}}
    </div>
    {{>footer}}
</div>
