---
layout: default.hbs
title: 组合管理
keywords: 组合管理
description: 组合管理
stylesheet: group
script: group
---
<div class="page">
    {{>header}}
    <div class="group">
        {{>aside}}
        {{>group}}
    </div>
    {{>addGroupModal}}
    {{>changeGroupModal}}
    {{>footer}}
</div>
