---
layout: default.hbs
title: 首页
keywords: 首页
description: 首页
stylesheet: index
script: index
---
<div class="page">
    {{>header}}
    <div class="index">
        {{>aside}}
        <div class="content"></div>
    </div>
    {{>footer}}
</div>
