---
layout: default.hbs
title: 物料管理
keywords: 物料管理
description: 物料管理
stylesheet: material
script: material
---
<div class="page">
    {{>header}}
    <div class="material">
        {{>aside}}
        {{>material}}
    </div>
    {{>materialModal}}
    {{>addMaterialModal}}
    {{>footer}}
</div>
