---
layout: default.hbs
title: 门店管理
keywords: 门店管理
description: 门店管理
stylesheet: store
script: store
---
<div class="page">
    {{>header}}
    <div class="store">
        {{>aside}}
        {{>store}}
    </div>
    {{>footer}}
</div>
