--- layout: default.hbs title: seed-pc keywords: seed-pc description: seed-pc stylesheet: rank script: rank hiido_wid: ---
<div class="page">
    {{>header}}
    <div class="medal">
        <div class="medal__container">
            <div class="medal__content">
                <div class="medal__item medal__item--1">送出1个星光票/年度票</div>
                <div class="medal__item medal__item--2">活动期间加入团战战队<br/>并停留5分钟</div>
                <div class="medal__item medal__item--3">送出1组188年度票</div>
            </div>
            <a href="index.html" class="medal__btn">加入战队</a>
            <a href="javascript:;" class="js-top">返回顶部</a>
        </div>
    </div>
    {{>footer}}
</div>


<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">接高</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">

            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">衬布</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="chenbu" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">配布1</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="peibu1" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">配布2</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="peibu2" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">配布3</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="peibu3" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">配布4</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="peibu4" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">主布花边</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="zhubuhuabian" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">配布花边</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="peibuhuabian" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">窗纱</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="chuangsha" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">拉边袋</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="labiandai" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">风格</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="style" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">花边1</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="huabian1" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">花边2</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="huabian2" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">花边3</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="huabian3" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">织带</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="zhidai" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">小边带</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="xiaobiandai" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">吊球</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="diaoqiu" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">吊穗</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="diaosui" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">钻扣</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="zhuankou" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">钻条</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="zhuantiao" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">沙发绳</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="shafasheng" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">纽扣</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="niukou" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">布钮</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="buniu" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">帘头</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="liantou" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">窗身</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="chuangshen" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
<div class="el-row demo-autocomplete">
    <div class="el-col el-col-12">
        <div class="sub-title">备注</div>
        <div class="el-autocomplete inline-input">
            <div class="el-input">
                <input type="text" class="form-control" name="remark" placeholder="请输入物料名称">
            </div>
        </div>
    </div>
</div>
